"<h1>Strings In Python </h1>

In [6]:
my_string = "Hello"
print(my_string[0])

H

In [8]:
string1 = "Hello"
string2 = "World"
concatenated_string = string1 + " " + string2
print(concatenated_string)

Hello World

In [10]:
my_string = "Hello, World!"
print(my_string.lower()) 
print(my_string.split(", "))

hello, world!
['Hello', 'World!']

<h1> Data Types In python</h1>

<h2> Numeric </h2>

In [8]:
integer = 22
Float = 0.001
complex_num = 2 + 3j
print(integer)
print(Float)
print(complex_num)

22
0.001
(2+3j)

<h2> Sequence </h2>

In [18]:
List = [1, 2, 3, 4, 5]
Tuple = (10,20 ,30 )
Range = (5)
print(List)
print(Tuple)
print((Range))

[1, 2, 3, 4, 5]
(10, 20, 30)
5

<h2>Text Type</h2>

In [19]:
String = "hello world"
print(String)

hello world

<h2>Maping Type</h2>

In [21]:
dictionary = {'name': 'Rubab', 'age': 20}
print(dictionary)

{'name': 'Rubab', 'age': 20}

<h2> Boolean Type</h2>

In [22]:
Booleant = True
Booleanf = False
print(Booleant)
print(Booleanf)

True
False

<h1> Loops </h1>

<h2> For Loop </h2>

In [25]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

<h2>While</h2>

In [26]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

<h2> Nested loop </h2>

In [31]:
for i in (1, 6):  # Outer loop for rows
    for j in (1, 11):  # Inner loop for columns
        print(i * j, end="\t")  # Print the product of i and j
    print()  # Move to the next line after each row

1	11
6	66

<h1> Condtional Statements  </h1>

In [32]:
# Checking if a number is even or odd
num = 7

if num % 2 == 0:
    print(f"{num} is even")
else:
    print(f"{num} is odd")

7 is odd

<h1> Classes</h1>

In [33]:
# Define a simple class representing a Circle
class Circle:
    # Constructor to initialize the radius
    def __init__(self, radius):
        self.radius = radius
    
    # Method to calculate the area of the circle
    def calculate_area(self):
        return 3.14 * self.radius ** 2

# Creating an instance of the Circle class
my_circle = Circle(5)

# Calling the calculate_area method of the Circle instance
area = my_circle.calculate_area()

# Printing the calculated area
print("The area of the circle is:", area)

The area of the circle is: 78.5

<h1>Numpy and Panda</h1>
<h2>why should we use them in python?</h2>

NumPy arrays are faster and more compact than Python lists. An array consumes less memory and is convenient to use. NumPy uses much less memory to store data and it provides a mechanism of specifying the data types. This allows the code to be optimized even further.

In [45]:
# Importing NumPy library
import numpy as np

# Creating a NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Printing the array
print("Original Array:", arr)

# Performing some operations on the array
print("Sum of Array Elements:", np.sum(arr))
print("Mean of Array Elements:", np.mean(arr))
print("Standard Deviation of Array Elements:", np.std(arr))

Original Array: [1 2 3 4 5]
Sum of Array Elements: 15
Mean of Array Elements: 3.0
Standard Deviation of Array Elements: 1.4142135623730951

<h2> What kind of data does pandas handle?</h2>

When working with tabular data, such as data stored in spreadsheets or databases, pandas is the right tool for you. pandas will help you to explore, clean, and process your data. In pandas, a data table is called a DataFrame.

<h2>How do I read and write tabular data?</h2>

pandas supports the integration with many file formats or data sources out of the box (csv, excel, sql, json, parquet,â€¦). Importing data from each of these data sources is provided by function with the prefix read_. Similarly, the to_ methods are used to store data.

<h2>Why Use Pandas?</h2>

Pandas is used for data manipulation and analysis, offering powerful data structures and tools for working with structured data.

<h2>1.DataFrame:</h2> Pandas provides a DataFrame object, which is a 2-dimensional labeled data structure with columns of potentially different types. It's similar to a spreadsheet or SQL table, making it easy to handle tabular data.

<h2>2.Data Cleaning:</h2> Pandas offers functions and methods for data cleaning tasks such as handling missing data, removing duplicates, and transforming data into the desired format.

<h2>3.Data Manipulation:</h2> It allows for easy manipulation of data, including filtering, selecting, grouping, aggregating, merging, and reshaping data.

<h2>4.Data Analysis:</h2> Pandas provides statistical functions for data analysis, including descriptive statistics, correlation analysis, and time-series analysis.

<h2>5.Integration with Other Libraries:</h2> Pandas integrates well with other Python libraries such as NumPy, Matplotlib, and scikit-learn, providing a powerful ecosystem for data analysis and machine learning.

Overall, Pandas simplifies the process of working with structured data in Python and is widely used in data science, machine learning, and data analysis projects.

In [46]:
import pandas as pd
# Creating a DataFrame:
data = {'Name': ['Babar Azam', 'Shahdab', 'Shaheen Shah'],
        'Age': [30, 30, 25],
        "city": ['lahore','lahore','peshawar']}
df = pd.DataFrame(data)
print(df)
df.to_csv("CricketersInfo.csv")

           Name  Age      city
0    Babar Azam   30    lahore
1       Shahdab   30    lahore
2  Shaheen Shah   25  peshawar

<h1>MANAGING CYBER SECURITY SALARIES DATASET USING PANDAS</h1>

In [3]:
# Reading Data from CSV File:
import pandas as pd
df = pd.read_csv('salaries_cyber.csv')
print(df.head())

   work_year experience_level employment_type               job_title  salary  \
0       2022               EN              FT   Cyber Program Manager   63000
1       2022               MI              FT        Security Analyst   95000
2       2022               MI              FT        Security Analyst   70000
3       2022               MI              FT     IT Security Analyst  250000
4       2022               EN              CT  Cyber Security Analyst  120000

  salary_currency  salary_in_usd employee_residence  remote_ratio  \
0             USD          63000                 US            50
1             USD          95000                 US             0
2             USD          70000                 US             0
3             BRL          48853                 BR            50
4             USD         120000                 BW           100

  company_location company_size
0               US            S
1               US            M
2               US            M
3               BR            L
4               BW            S

In [4]:
print(df.tail())

      work_year experience_level employment_type  \
1242       2020               MI              FT
1243       2021               SE              FT
1244       2021               SE              FT
1245       2021               MI              FT
1246       2021               MI              FT

                         job_title  salary salary_currency  salary_in_usd  \
1242        Cyber Security Analyst  140000             AUD          96422
1243  Information Security Manager   60000             GBP          82528
1244  Penetration Testing Engineer  126000             USD         126000
1245  Information Security Analyst   42000             GBP          57769
1246   Threat Intelligence Analyst   66310             USD          66310

     employee_residence  remote_ratio company_location company_size
1242                 AU            50               AU            M
1243                 GB            50               GB            L
1244                 US           100               US            L
1245                 GB           100               GB            L
1246                 US             0               US            L

In [5]:
# Basic DataFrame Operations:
print(df.shape)
print(df.columns)
print(df.describe())
print(df['job_title'])

(1247, 11)
Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')
         work_year        salary  salary_in_usd  remote_ratio
count  1247.000000  1.247000e+03    1247.000000   1247.000000
mean   2021.316760  5.608525e+05  120278.218925     71.491580
std       0.715501  1.415944e+07   70291.394942     39.346851
min    2020.000000  1.740000e+03    2000.000000      0.000000
25%    2021.000000  7.975450e+04   74594.500000     50.000000
50%    2021.000000  1.200000e+05  110000.000000    100.000000
75%    2022.000000  1.600800e+05  150000.000000    100.000000
max    2022.000000  5.000000e+08  910991.000000    100.000000
0              Cyber Program Manager
1                   Security Analyst
2                   Security Analyst
3                IT Security Analyst
4             Cyber Security Analyst
                    ...
1242          Cyber Security Analyst
1243    Information Security Manager
1244    Penetration Testing Engineer
1245    Information Security Analyst
1246     Threat Intelligence Analyst
Name: job_title, Length: 1247, dtype: object

<h1> Country Code Mapping</h1>

In [7]:
# Reading Data from CSV File:
df1 = pd.read_csv('Country-Code-Mapping.csv')
print(df1.head())

   Value           Label
0      4     Afghanistan
1      6         Albania
2      7         Algeria
3      8  American Samoa
4      9         Andorra

In [9]:
print(df1.tail())

     Value       Label
147    171  Uzbekistan
148    172   Venezuela
149    173     Vietnam
150    174       Yemen
151    175    Zimbabwe

In [11]:
# Basic DataFrame Operations:
print(df1.shape)
print(df1.columns)
print(df1.describe())
print(df1['Label'])

(152, 2)
Index(['Value', 'Label'], dtype='object')
            Value
count  152.000000
mean    88.605263
std     50.131504
min      4.000000
25%     44.750000
50%     87.500000
75%    132.500000
max    175.000000
0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
147        Uzbekistan
148         Venezuela
149           Vietnam
150             Yemen
151          Zimbabwe
Name: Label, Length: 152, dtype: object