"<h1>Strings In Python </h1>

In [6]:
my_string = "Hello"
print(my_string[0])

H

In [8]:
string1 = "Hello"
string2 = "World"
concatenated_string = string1 + " " + string2
print(concatenated_string)

Hello World

In [10]:
my_string = "Hello, World!"
print(my_string.lower()) 
print(my_string.split(", "))

hello, world!
['Hello', 'World!']

<h1> Data Types In python</h1>

<h2> Numeric </h2>

In [8]:
integer = 22
Float = 0.001
complex_num = 2 + 3j
print(integer)
print(Float)
print(complex_num)

22
0.001
(2+3j)

<h2> Sequence </h2>

In [18]:
List = [1, 2, 3, 4, 5]
Tuple = (10,20 ,30 )
Range = (5)
print(List)
print(Tuple)
print((Range))

[1, 2, 3, 4, 5]
(10, 20, 30)
5

<h2>Text Type</h2>

In [19]:
String = "hello world"
print(String)

hello world

<h2>Maping Type</h2>

In [21]:
dictionary = {'name': 'Rubab', 'age': 20}
print(dictionary)

{'name': 'Rubab', 'age': 20}

<h2> Boolean Type</h2>

In [22]:
Booleant = True
Booleanf = False
print(Booleant)
print(Booleanf)

True
False

<h1> Loops </h1>

<h2> For Loop </h2>

In [25]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

<h2>While</h2>

In [26]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

<h2> Nested loop </h2>

In [31]:
for i in (1, 6):  # Outer loop for rows
    for j in (1, 11):  # Inner loop for columns
        print(i * j, end="\t")  # Print the product of i and j
    print()  # Move to the next line after each row

1	11
6	66

<h1> Condtional Statements  </h1>

In [32]:
# Checking if a number is even or odd
num = 7

if num % 2 == 0:
    print(f"{num} is even")
else:
    print(f"{num} is odd")

7 is odd

<h1> Classes</h1>

In [33]:
# Define a simple class representing a Circle
class Circle:
    # Constructor to initialize the radius
    def __init__(self, radius):
        self.radius = radius
    
    # Method to calculate the area of the circle
    def calculate_area(self):
        return 3.14 * self.radius ** 2

# Creating an instance of the Circle class
my_circle = Circle(5)

# Calling the calculate_area method of the Circle instance
area = my_circle.calculate_area()

# Printing the calculated area
print("The area of the circle is:", area)

The area of the circle is: 78.5

<h1>Numpy and Panda</h1>
<h2>why should we use them in python?</h2>

NumPy arrays are faster and more compact than Python lists. An array consumes less memory and is convenient to use. NumPy uses much less memory to store data and it provides a mechanism of specifying the data types. This allows the code to be optimized even further.

In [45]:
# Importing NumPy library
import numpy as np

# Creating a NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Printing the array
print("Original Array:", arr)

# Performing some operations on the array
print("Sum of Array Elements:", np.sum(arr))
print("Mean of Array Elements:", np.mean(arr))
print("Standard Deviation of Array Elements:", np.std(arr))

Original Array: [1 2 3 4 5]
Sum of Array Elements: 15
Mean of Array Elements: 3.0
Standard Deviation of Array Elements: 1.4142135623730951

<h2> What kind of data does pandas handle?</h2>

When working with tabular data, such as data stored in spreadsheets or databases, pandas is the right tool for you. pandas will help you to explore, clean, and process your data. In pandas, a data table is called a DataFrame.

<h2>How do I read and write tabular data?</h2>

pandas supports the integration with many file formats or data sources out of the box (csv, excel, sql, json, parquet,â€¦). Importing data from each of these data sources is provided by function with the prefix read_. Similarly, the to_ methods are used to store data.

<h2>Why Use Pandas?</h2>

Pandas is used for data manipulation and analysis, offering powerful data structures and tools for working with structured data.

<h2>1.DataFrame:</h2> Pandas provides a DataFrame object, which is a 2-dimensional labeled data structure with columns of potentially different types. It's similar to a spreadsheet or SQL table, making it easy to handle tabular data.

<h2>2.Data Cleaning:</h2> Pandas offers functions and methods for data cleaning tasks such as handling missing data, removing duplicates, and transforming data into the desired format.

<h2>3.Data Manipulation:</h2> It allows for easy manipulation of data, including filtering, selecting, grouping, aggregating, merging, and reshaping data.

<h2>4.Data Analysis:</h2> Pandas provides statistical functions for data analysis, including descriptive statistics, correlation analysis, and time-series analysis.

<h2>5.Integration with Other Libraries:</h2> Pandas integrates well with other Python libraries such as NumPy, Matplotlib, and scikit-learn, providing a powerful ecosystem for data analysis and machine learning.

Overall, Pandas simplifies the process of working with structured data in Python and is widely used in data science, machine learning, and data analysis projects.

In [46]:
import pandas as pd
# Creating a DataFrame:
data = {'Name': ['Babar Azam', 'Shahdab', 'Shaheen Shah'],
        'Age': [30, 30, 25],
        "city": ['lahore','lahore','peshawar']}
df = pd.DataFrame(data)
print(df)
df.to_csv("CricketersInfo.csv")

           Name  Age      city
0    Babar Azam   30    lahore
1       Shahdab   30    lahore
2  Shaheen Shah   25  peshawar

<h1>MANAGING CYBER SECURITY SALARIES DATASET USING PANDAS</h1>